{% extends 'report_search.html' %}

{% block content %}
<table class="table table-info table-striped" style="margin-top: 20px;">
    <thead>
    <tr>
        <th scope="col">หลักสูตร</th>
        <th scope="col">รหัสนักศึกษา</th>
        <th scope="col">ชื่อ-สกุล นักศึกษา</th>
        <th scope="col">แผนการศึกษา</th>
        <th scope="col">อาจารย์ที่ปรึกษา</th>
        <th scope="col">ชื่อผลงาน</th>
        <th scope="col">ประเภทการเผยแพร่</th>
        <th scope="col">ฐานข้อมูลวารสาร</th>
        <th scope="col">การนำไปใช้ในองค์กร</th>
        <th scope="col">ชื่อวารสาร/ชื่องานประชุม, สถานที่</th>
        <th scope="col">วัน-เดือน-ปี เริ่มต้น</th>
        <th scope="col">วัน-เดือน-ปี สิ้นสุด</th>
        <th scope="col">ปีปฏิทิน</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data%}
    <tr>
        
        <th scope="row">{{ d.course }}</th>
        <th scope="row">{{ d.student_id }}</th>
        <th scope="row">{{ d.name }}</th>
        <th scope="row">{{ d.edu }}</th>
        <th scope="row">{{ d.advisor }}</th>
        <th scope="row">{{ d.work }}</th>
        {% if d.public == 1 %}
        <th scope="row">วารสาร</th>
        {% if d.journal == 1 %}
        <th scope="row">ฐานข้อมูลระดับนานาชาติอื่น</th>
        {% elif d.journal == 2%}
        <th scope="row">TCI กลุ่ม 1</th>
        {% elif d.journal == 3%}
        <th scope="row">Scopus</th>
        {% elif d.journal == 4%}
        <th scope="row">WoS</th>
        {% elif d.journal == 5%}
        <th scope="row">TCI กลุ่ม 2</th>
        {% elif d.journal == 6%}
        <th scope="row">SSRN</th>
        {% elif d.journal == 7%}
        <th scope="row">EBSCO</th>
        {% else %}
        <th scope="row">ไม่อยู่ในฐานข้อมูล</th>
        {% endif %}
        {% elif d.public == 2%}
        <th scope="row">การประชุมวิชาการระดับชาติ</th>
        <th scope="row"></th>
        {% elif d.public == 3%}
        <th scope="row">การประชุมวิชาการระดับนานาชาติ</th>
        <th scope="row"></th>
        {% else%}
        <th scope="row">ตีพิมพ์ลักษณะใดลักษณะหนึ่ง</th>
        <th scope="row"></th>
        {% endif %}
        
        <th scope="row">{{ d.implemment }}</th>
        <th scope="row">{{ d.meeting }}</th>
        <th scope="row">{{ d.from_date }}</th>
        <th scope="row">{{ d.to_date }}</th>
        <th scope="row">{{ d.year }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}